@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition-property: color, background-color, border-color, fill, stroke;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

:root {
    --color-brand--main: #e27c00;
    --color-brand--500: #ffa500;
    --color-brand--400: #ffc71b;
    --color-brand--transparent: rgb(226, 124, 0, 0.5);
    --color-brand--dark: #451a03;
    --color-brand--light: #fffceab3;
    --color-black: #242a2e;
    --color-white: #fff;
    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
    overflow: auto;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-weight: 300;
    font-style: normal;
    line-height: 1.6;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.landingPage {
    overflow: auto;
    scrollbar-width: none;
}

.landingPage::-webkit-scrollbar {
    display: none;
}
